/* página inteira */
.filme-page{
  background:#000;
  min-height:100vh;
  display:flex;
  flex-direction:column;
}


.filme-conteudo{
  display:grid;
  grid-template-columns: 1.65fr 1fr;
  min-height:100vh
}

.bloco-imagem{
  position:relative;
  overflow:hidden;
}



.bloco-imagem > *{
  height:100%;
  width:100%;
}


.bloco-detalhes{
  display:flex;
  align-items:center;
  justify-content:flex-start;
  padding: 48px 56px;
}
