.home {
   
  background-position-x: center;
  height: 1000px;
  background-repeat: no-repeat;
  width: 100%; 
  background-size: cover; 
  background-position: center;
  height: 1000px; 
  width: 100vw; 
  display: flex;
  flex-direction: column;
  color: white;
  
}

.carousel-section {
  margin-top: 360px; 
  display: flex;
  flex-direction: column;
  gap: 30px; 
  
}
